<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" tools:ignore="ProtectedPermissions" />

    <!-- Allows access to the flashlight -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!--needed for media actions-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" tools:ignore="ProtectedPermissions" />-->

    <!--needed for toggling wifi-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/bxpanel"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".PanelActivity"
            android:theme="@style/PanelTheme"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:supportsPictureInPicture="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferenceActivity"
            android:theme="@style/AppTheme"/>


        <activity
            android:name=".PanelItemSettingActivity"
            android:label="@string/panel_item_settings"
            android:theme="@style/AppTheme"/>


        <!--<activity android:theme="@android:style/Theme.DeviceDefault.Panel" android:name=".ScreenshotActivity" android:process=":screenshot" android:taskAffinity="" android:excludeFromRecents="true" />
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name=".BlankActivity" android:configChanges="keyboardHidden" android:noHistory="true" />
-->
        <service android:name=".BxPanelAccessibilityService"
            android:label="@string/app_name"
            android:exported="false"
            android:stopWithTask="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

        </service>

    </application>

</manifest>